#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 80rem;
    margin: 0 auto;
}

.bg {
    position: absolute;
    height: 600px;
    top: 16rem;
    left: 40rem;
    padding: 5rem;
}

.introcontent {
    position: absolute;
    padding: 0 auto;
    height: 100vh;
    width: 40vw;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: lightblue;
}

.hello {
    font-size: 1.5rem;
    font-weight: 200;
    font-family: 'Manrope', sans-serif;
}

.introtxt {
    font-family: 'Manrope', sans-serif;
}

.introname {
    color: white;
    padding-left: 1rem;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.introjob {
    color: white;
    font-family: 'Manrope', sans-serif;
}

.introparagraph {
    font-size: 30px;
    font-family: 'Manrope', sans-serif;
    font-weight: 100;
}

.HireBtn {
    background-color: lightblue;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    padding: 10px 20px;
    border-radius: 5000px;
    transition: transform 0.3s;
    border-color: black;
    font-family: 'Cairo', sans-serif;
    font-family: 'Manrope', sans-serif;
}

.HireBtn:hover {
    transform: scale(1.15);
    background-color: whitesmoke;
    cursor: pointer;
}